datasets/
notebooks/wandb/
notebooks/results_continuous/
notebooks/results_discrete/
notebooks/results_toy

src/solvers_discrete/*
!src/solvers_discrete/AlignGW.py
!src/solvers_discrete/FlowGW.py
!src/solvers_discrete/StructuredGW.py
!src/solvers_discrete/RegGW.py

src/solvers_continuous/*
!src/solvers_continuous/NeuralGW.py
!src/solvers_continuous/RegGW_mb.py
!src/solvers_continuous/FlowGW_mb.py

src/dataset_loaders-Copy1.py
src/dataset_loaders.py
src/train_old.py
src/train-Copy1.py

src/models/general_solvers.py

notebooks/*
!notebooks/GWSolvers_discrete.ipynb
!notebooks/GWSolvers_continuous.ipynb

*.ipynb_checkpoints
*__pycache__
